@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

$colorTxt_primary: hsl(0, 0%, 100%);
$colorTxt_secondary: hsl(277, 64%, 61%);
$colorTxt_tertiary: hsla(0, 0%, 100%, 0.75);
$colorTxt_quaternary: hsla(0, 0%, 100%, 0.6);
$colorBg_primary: hsl(233, 47%, 7%);
$colorBg_secondary: hsl(244, 38%, 16%);
$breakpoint: 1000px;

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: $colorBg_primary;
    color: $colorTxt_primary;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 2;
    position: relative;

    em {
        color: $colorTxt_secondary;
    }

    .card {
        background: $colorBg_secondary;
        width: 85%;
        max-width: 330px;
        display: grid;
        grid-template-rows: 240px auto;
        margin: 40px 0 80px;
        border-radius: 10px;
        overflow: hidden;

        &::before {
            content: "";
            background-image: url("../medias/image-header-mobile.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: $colorTxt_secondary;
            background-blend-mode: multiply;
        }

        .content {
            padding: 40px 35px;
            text-align: center;

            .title {
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 25px;
                line-height: 1.3;
            }

            .presentation {
                margin-bottom: 50px;
                color: $colorTxt_tertiary;
                margin-bottom: 75px;
            }

            .indicators {
                display: grid;
                row-gap: 30px;

                .indicator {
                    font-weight: bold;
                    font-size: 22px;
                    margin-bottom: 10px;

                    mark {
                        display: block;
                        text-transform: uppercase;
                        color: $colorTxt_quaternary;
                        font-family: "Lexend Deca", sans-serif;
                        font-size: 13px;
                        line-height: 1.2;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    footer{
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;
        font-size: 10px;
        line-height: 1.5;
        background: transparent;

        a{
            text-decoration: underline;
        }
    }

    @media (min-width: $breakpoint) {
        .card {
            max-width: 1100px;
            margin: 80px 0;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 19fr 18fr;

            &::before {
                grid-area: 1 / 2 / 2 / 3;
                background-image: url("../medias/image-header-desktop.jpg");
            }

            .content {
                grid-area: 1 / 1 / 2 / 2;
                padding: 80px 70px;
                text-align: left;

                .title {
                    font-size: 35px;
                }

                .presentation {
                    font-size: 17px;
                }

                .indicators {
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 30px;
                }
            }
        }
    }
}