@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: inherit;
  text-decoration: none;
  color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button {
  outline: none;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #090b1a;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 2;
  position: relative;
}

body em {
  color: #aa5cdb;
}

body .card {
  background: #1b1938;
  width: 85%;
  max-width: 330px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 240px auto;
      grid-template-rows: 240px auto;
  margin: 40px 0 80px;
  border-radius: 10px;
  overflow: hidden;
}

body .card::before {
  content: "";
  background-image: url("../medias/image-header-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #aa5cdb;
  background-blend-mode: multiply;
}

body .card .content {
  padding: 40px 35px;
  text-align: center;
}

body .card .content .title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.3;
}

body .card .content .presentation {
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 75px;
}

body .card .content .indicators {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

body .card .content .indicators .indicator {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

body .card .content .indicators .indicator mark {
  display: block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: normal;
}

body footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 10px;
  line-height: 1.5;
  background: transparent;
}

body footer a {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  body .card {
    max-width: 1100px;
    margin: 80px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 19fr 18fr;
        grid-template-columns: 19fr 18fr;
  }
  body .card::before {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("../medias/image-header-desktop.jpg");
  }
  body .card .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    padding: 80px 70px;
    text-align: left;
  }
  body .card .content .title {
    font-size: 35px;
  }
  body .card .content .presentation {
    font-size: 17px;
  }
  body .card .content .indicators {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */